[Desktop Entry]
Encoding=UTF-8
Name=BioBar
Comment=BioBar P2P Cryptocurrency
Comment[fr]=BioBar, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BioBar, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/BioBar-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/BioBar;
Categories=Office;
